 .Resgistration{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;

} 
/* .Row{ */
    /* position: absolute;
    left: 215px;
    top: 40px; */
    /* width: 100%;
    max-width: 330px;
    padding: 15px;
    height: 100%;

} */